@import services.SpotifyArtists
@(artists: SpotifyArtists)
    @main(title = "topartists") {
        <div class="col-sm-4 col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form accept-charset="UTF-8" action="" method="POST">
                        <textarea class="form-control counted" name="message" placeholder="Type in your message" rows="5" style="margin-bottom: 10px;">@{
                            "My top Artists this week are " + artists.Artists.mkString(", ")
                        }</textarea>
                        <button class="btn btn-info" type="submit">Post New Message</button>
                    </form>
                </div>
            </div>
        </div>

    }

